<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin home</title>
<title>Admin system</title>
{{!-- <script type="text/javascript">
		alert("Welcome To Admin System!");
	</script> --}}
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="../js/jquery-3.4.1.js"></script>
<head>

<body>
 <div class="container">
   <div class="header">
     <div class="navbar-header">
	  <h3><a class="admin_name">Admin Area</a></h3>
	 </div><!-- /.navbar-header -->
	 
	 <div class="navbar-right-header">
	 
	 <ul class="dropdown-navbar-right">
	   <li>
	     <a><i class="fa fa-user"></i>&nbsp;<i class="fa fa-caret-down"></i></a>
		 
		 <ul class="subnavbar-right">
		   <li><a>User Account</a></li>
		   <li><a href="">Logout</a></li>
		 </ul>
	   </li>
	 </ul>
	 
	 <ul class="dropdown-navbar-right">
	   <li>
	     <a><i class="fa fa-bell"></i>&nbsp;<i class="fa fa-caret-down"></i></a>
		 
		 <ul class="subnavbar-right">
		   <li><a>Notification </a></li>
		   
		 </ul>
	   </li>
	 </ul>
	 
	 </div><!-- /.navbar-right-header -->
	 
   </div><!-- /.header -->
   
   <div class="body_container">
     <div class="left_sidebar">
	   <div class="left_sidebar_box">
	   
	   <ul class="left_sidebar_first_level">

         <li><a href="/index.hbs" target="_blank" ><i class="fa fa-dashboard"></i> My Site</a></li>	   
	     
		 <li>
		  <a href="#"><i class="fa fa-plus"></i>&nbsp;Books <i class="arrow fa fa-angle-left"></i></a>
		 
		   <ul class="left_sidebar_second_level">
		     <li><a >Add Books</a></li>
			 <li><a >Edit Books</a></li>
			 <li><a >View Books</a></li>
		   </ul><!-- /.left_sidebar_second_level -->
		 </li>
		 
		 <li>
		  <a href="#"><i class="fa fa-plus"></i>&nbsp;Categories <i class="arrow fa fa-angle-left"></i></a>
		 
		   <ul class="left_sidebar_second_level">
		     <li><a href="">Add Category</a></li>
			 <li><a href="">Edit Category</a></li>
			 <li><a href="">View Categories</a></li>
		   </ul><!-- /.left_sidebar_second_level -->
		 </li>
		 
		 <li>
		  <a href="#"><i class="fa fa-plus"></i>&nbsp;Order <i class="arrow fa fa-angle-left"></i></a>
		 
		   <ul class="left_sidebar_second_level">
		     <li><a href="/admin/managerCustomer">Manager Customer Order</a></li>
			 <li><a href="/admin/statusOrder">Status Order</a></li>
		   </ul><!-- /.left_sidebar_second_level -->
		 </li>	 
		 <li>
		  <a href="#"><i class="fa fa-gift"></i>&nbsp;Admin <i class="arrow fa fa-angle-left"></i></a>
		 
		   <ul class="left_sidebar_second_level">
		     <li><a href="">Add User</a></li>
			 <li><a href="">List Users</a></li>
		   </ul><!-- /.left_sidebar_second_level -->
		 </li>
		 
		 </ul><!-- /.left_sidebar_first_level -->
	   </div><!-- /.left_sidebar_box -->
	   
	 </div><!-- /.left_sidebar -->
	 
	 <div class="content">
	   <div class="content_box">
	   
	   </div><!-- /.content_box -->
	   
	 </div><!-- /.content -->
	 
   </div><!-- /.body_container -->
   
 </div><!-- /.container -->
 <div>
 {{!-- <footer class="footer">
	 <ul>
			<li><div class="logo_footer">
			<img src="https://scontent.fhan2-5.fna.fbcdn.net/v/t1.0-9/103383563_112315213857073_2974337591104313175_n.jpg?_nc_cat=109&ccb=2&_nc_sid=09cbfe&_nc_ohc=sqb1QAsVONUAX-6qod9&_nc_ht=scontent.fhan2-5.fna&oh=8eb35aa70687569ce7f336afdd1cd058&oe=6010B32E" height="50px" width="50px">
			</div></li>
            <li><div class="footer__text">
			<h5><i style="color: #adaaa0">©2021 SWE, LLC. All Rights Reserved.</i></h5>
			</div></li>
	</ul>
        </footer> --}}
 </div>
</body>
</html>