<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin home</title>
<title>Admin system</title>
<!-- <script type="text/javascript">
		alert("Welcome To Admin System!");
	</script> -->
<link rel="stylesheet" href="/style_manager_customer.css">
<link rel="stylesheet" href="/style.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="../js/jquery-3.4.1.js"></script>
<head>

<body>
 {{!-- <div class="container">
   <div class="header">
     <div class="navbar-header">
	  <h3><a class="admin_name">Admin Area</a></h3>
	 </div><!-- /.navbar-header -->
	 
	 <div class="navbar-right-header">
	 
	 <ul class="dropdown-navbar-right">
	   <li>
	     <a><i class="fa fa-user"></i>&nbsp;<i class="fa fa-caret-down"></i></a>
		 
		 <ul class="subnavbar-right">
		   <li><a>User Account</a></li>
		   <li><a href="">Logout</a></li>
		 </ul>
	   </li>
	 </ul>
	 
	 <ul class="dropdown-navbar-right">
	   <li>
	     <a><i class="fa fa-bell"></i>&nbsp;<i class="fa fa-caret-down"></i></a>
		 
		 <ul class="subnavbar-right">
		   <li><a>Notification </a></li>
		   
		 </ul>
	   </li>
	 </ul>
	 
	 </div><!-- /.navbar-right-header -->
	 
   </div><!-- /.header -->
   
   <div class="body_container">
     <div class="left_sidebar">
	   <div class="left_sidebar_box">
	   
	   <ul class="left_sidebar_first_level">

         <li><a href="/#" target="_blank" ><i class="fa fa-dashboard"></i> My Site</a></li>	   
	     
		 <li>
		  <a href="#"><i class="fa fa-plus"></i>&nbsp;Books <i class="arrow fa fa-angle-left"></i></a>
		 
		   <ul class="left_sidebar_second_level">
		     <li><a href="">Add Books</a></li>
			 <li><a href="">Edit Books</a></li>
			 <li><a href="">View Books</a></li>
		   </ul><!-- /.left_sidebar_second_level -->
		 </li>
		 
		 <li>
		  <a href="#"><i class="fa fa-plus"></i>&nbsp;Categories <i class="arrow fa fa-angle-left"></i></a>
		 
		   <ul class="left_sidebar_second_level">
		     <li><a href="">Add Category</a></li>
			 <li><a href="">Edit Category</a></li>
			 <li><a href="">View Categories</a></li>
		   </ul><!-- /.left_sidebar_second_level -->
		 </li>
		 
		 <li>
		  <a href="#"><i class="fa fa-plus"></i>&nbsp;Order <i class="arrow fa fa-angle-left"></i></a>
		 
		   <ul class="left_sidebar_second_level">
		     <li><a href="/admin/managerCustomer">Manager Customer Order</a></li>
			 <li><a href="/admin/statusOrder">Status Order</a></li>
		   </ul><!-- /.left_sidebar_second_level -->
		 </li>
		 
		 <li>
		  <a href="#"><i class="fa fa-gift"></i>&nbsp;Admin <i class="arrow fa fa-angle-left"></i></a>
		 
		   <ul class="left_sidebar_second_level">
		     <li><a href="">Add User</a></li>
			 <li><a href="">List Users</a></li>
		   </ul><!-- /.left_sidebar_second_level -->
		 </li>
		 
		 </ul><!-- /.left_sidebar_first_level -->
	   </div><!-- /.left_sidebar_box -->
	    <div class="content">
	   <div class="content_box">
	   
	   </div><!-- /.content_box -->
	   
	 </div><!-- /.content -->
	 
   </div><!-- /.body_container --> --}}
   
 </div>
	<div id="content_area">	
	  
	  <div class="shopping_cart_container">
	  
	  
	  <div id="shopping_cart" align="right" style="padding:15px">
	   
	   </div><!-- /.shopping_cart --> 
	   
	   <form action="" method="post" enctype="multipart/form-data">
	   <table align="center" width="100%">
	   
	     <tr align="center">
		   <th>Remove</th>
		   <th>Product</th>
		   <th>Quality</th>
		   <th>Price</th>
		 </tr>
		 
	
		 <tr align="center">
		   <td></td>
		   <td>
		   <br />
		   <img src="" />
		   </td>
		   <td><input type="text" size="4" name="qty" value="" /></td>
		   <td></td>
		 </tr>
	
	    <tr  >
		   <td colspan="2"><input type="submit" name="update_cart" value="Update Cart" /></td>
		</tr>
	   </table>
	   </form>
	   
	   
	   </div><!-- /.shopping_cart_container-->
	  
	  <div id="products_box">   
	  
	   
	  </div><!-- /#products_box -->
	</div><!-- /#content_area -->
	
  </div><!-- /.content_wrapper-->
	 </div><!-- /.left_sidebar -->
  </body>
</html>

  
  