.product {
    margin: 40px;
    margin-left: 120px;
    font-size: 20px;
    font-weight: bold;
   
    
}

.Display_product:hover {
    text-decoration: underline;
    
}

#name:hover {
    color: red;
    text-decoration: underline;
    
}

/* #index {
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
} */
